*{

margin: 0;
padding: 0;
box-sizing: border-box;
}
html{
    font-family: 'Inconsolata', monospace;
font-family: 'Libre Baskerville', serif;
font-size: 16px;
color: var(--lightcolor);
}
:root{
--primarycolor:   #ff274B ;
--secondarycolor:    #f7BCF7;
--lightcolor:     #FFFFFF;
--bgcolor-1:     #171A1C;
--bgcolor-2:     #22282A;
--padding: 8%;

}
.home{
width:100% ;
height: 100vh;
background-color: var(--bgcolor-1);
display: flex;
flex-direction: column;

}
span{    
    color: var(--primarycolor);
}


h1{
font-size: 4.50rem;
margin: 1.5rem 0;
}
h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;

}
h3{
font-size: 1.5rem;
margin-bottom: 3.5rem;
}
h4{
font-size: 1.25rem;
letter-spacing:0.12rem;
color: var(--secondarycolor);   
}
h5{
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}
p{
color: var(--secondarycolor);
letter-spacing: 1px;
line-height: 1.8rem;
font-size: 1rem;
}

.btn{
background-color: var(--primarycolor);
color:var(--lightcolor);
text-decoration: none;
font-weight: bold;
padding: 0.81rem 1.87rem;
border-radius: 30px;
border: 2px solid transparent;

transition: 0.4s;
}
.btn:hover{
    background-color: transparent;
    border: 2px solid var(--primarycolor);
}
nav{
padding-top: 2.8rem;
padding-left:var(--padding) ; 
padding-right: var(--padding);
display: flex;
justify-content: space-between;
align-items: center;

}
nav ul li{

    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a{
    color:var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}
nav ul li a:hover{
   color: var(--primarycolor);

}
.content{
flex-grow: 1;
padding: 0 var(--padding);
display: flex;
align-items: center;
justify-content: space-between;
}
.cotext{
position: relative;
bottom: 1.7rem 0;
}

.social{
    margin-top: 3.5rem;
}
.social a{
    text-decoration: none;
}
.social img{
    margin-right: 2rem;
    width:2.5rem;
    transition: O.4s;
    
}
.social img:hover{
    transform: scale(1.2);
}
.home .ctimage img{

width: 450px;
position: relative;
align-self: flex-end;
left: 50%;
transform: translate(-50%);
transition: bottom 1s;
}
.home .ctimage:hover .shape{

    bottom: 40px;
}
.about{
    background-color: var(--bgcolor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.about .imgf{

    width: 35%;
}

.about .imgf img{

width: 90%;

}
.about .texte {
    width: 35%;
}
.services{
background-color: var(--bgcolor-1);
padding: 2rem var(--padding);
}
.texte_center{

    text-align: center;
}



.card{
    width: 250px;
    background-color: var(--bgcolor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
}
.box{
    display: flex;
   justify-content: space-between;
    
}
.card i{
font-size: 3.12rem;
text-align: center;
color: var(--primarycolor);
margin: 2rem;
    
}

footer{
    padding: 2rem var(--padding);
   background-color: var(--bgcolor-1);


}
footer .contact{
  display: flex;
  flex-direction: column;
  align-items: center;
justify-content: center;
}
footer .contact p{


    color: var(--lightcolor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}
footer .contact .end{
color: var(--primarycolor);
margin-top: 1rem;
}

form{
display: flex;
flex-direction: column;
width: 24rem;
gap: 1rem;
align-items: center;

}
textarea{
    padding: 1.4rem;
    height: 45px;
    width: 100%;
    text-align: center;

   

}
textarea{
    height: 6rem;
}


.formula{
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
text-align: center;



}
.formula input{
height: 45px;
width: 100%;
text-align: center;

}
.formula select{
    height: 45px;
width: 100%;
text-align: center;

}
#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}
#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightcolor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;

}
/* media quier *****************************************/
@media screen and (max-width :575px) {
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 13px;
    }
    .home .ctimage img{
        display: none;
    }
    nav {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
        z-index: 100;
    }
    nav > a{
        display: none;
    }
    nav ul{


        display: none;
    }
    nav ul.is-active{
   display: block;

    }
    .cotext{
        bottom: 0;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-top: 70px;

    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgcolor-2);
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;

    }
    #menu{
        display: block;
     }
     .about .imgf{
   display: none;
     }
     .about .texte{
        width: 100%;
     }
     .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
     }
     footer .contact p{
       width: 100%;
}

}
@media screen and (min-width :576px ) and (max-width :767px) {
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 13px;
    }
    .home .ctimage img{
        display: none;
    }
    nav {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
        z-index: 100;
    }
    nav > a{
        display: none;
    }
    nav ul{


        display: none;
    }
    nav ul.is-active{
   display: block;

    }
    .cotext{
        bottom: 0;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-top: 70px;

    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgcolor-2);
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;

    }
    #menu{
        display: block;
     }
     .about .imgf{
   display: none;
     }
     .about .texte{
        width: 100%;
     }
     .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
     }
     footer .contact p{
       width: 100%;
}

}
@media screen and (min-width :768px ) and (max-width :991px) {
    :root{
        --padding:1.5rem;
    }
    html{
        font-size: 13px;
    }
    .home .ctimage img{
        display: none;
    }
    nav {
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgcolor-1);
        border-bottom: 1px solid var(--bgcolor-2);
        z-index: 100;
    }
    nav > a{
        display: none;
    }
    nav ul{


        display: none;
    }
    nav ul.is-active{
   display: block;

    }
    .cotext{
        bottom: 0;
    }
    .social{
        margin-top: 70px;
    }
    h3{
        margin-top: 70px;

    }
    nav ul{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bgcolor-2);
    }
    nav ul li{
        display: block;
        text-align: center;
        margin: 50px;

    }
    #menu{
        display: block;
     }
     .about .imgf{
   display: none;
     }
     .about .texte{
        width: 100%;
     }
     .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
     }
     footer .contact p{
       width: 100%;
}

}
